{{#if menuListExists}}
  <ul>
    {{#each foodList}}
      <div>
        <li id={{this.id}}>
          <img src={{this.image}} alt="{{this.name}}" />
          <p>
            {{this.name}}
          </p>
          <p>
            {{this.price}}
          </p>
        </li>
      </div>
    {{/each}}
  </ul>
{{/if}}