<div class="content-block">
  <header
    class="package-listing-header"
    style="background-image: url('./images/pink.png');"
  >
    <h1>Our meal packages</h1>
  </header>
  <div class="package-listing-content">
    <div class="package-listing-subheading">
      <h5>
        Pick a package, choose your meals, achieve your goal -
        <i>it's that easy!</i>
      </h5>
    </div>
    <div class="package-listing-value-package">
      <div>
        <h5>Value Package</h5>
        <p>All of our bestselling Value meals in one package for even less!</p>
      </div>
      <div class="btn">
        <p>View Package</p>
      </div>
    </div>
    <div class="package-listing-packages">
      {{#each topMealPackages}}
      <div class="package-listing-packages-container" id="{{ this.id }}">
        <img src="{{ this.image }}" alt="{{ this.name }}" />
        <h5>{{ this.name }}</h5>
        <p>{{ this.description }}</p>
        <div class="btn">
          <p>View Package</p>
        </div>
        <p><i>from</i> {{ this.price }}</p>
      </div>
      {{/each}}
    </div>
  </div>
</div>
